*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*principal container, set all values in 0 */
.container , .container_father{
	margin: 0 auto;
	padding: 0px;
}
.container_one,.container_two,.container_three,.container_four,.conteiner_five,.conteiner_six,.container_seven{
	width: 65%;
    margin: 0 auto;	    
}

.container_one{
    padding: 0.5rem;
}

.section_two{
    min-height: 23rem;

}

.container_two p{
    text-align: justify;
}
.container_two h2{
    margin-bottom: 2rem;
}

.container_two {
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.container_three, .container_four{
    min-height: 25rem; 
    margin-bottom: 3rem;
}


.conteiner_five{
    min-height: 40rem;
}

header{
    height: 4rem;
}

/*header area*/
header, footer{
    background-color: black;
}
h1, h2{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.conteiner_five h2{
    margin-bottom: 3rem;
}
header h2, footer{
    color: #eee;
}

header img{
    max-width: 100%;
    height: auto;
}
/* .nav_header{
    background-size: cover;
    position: -webkit-sticky;
    top: 0;
    z-index: 5000;
    position: sticky;
    width: 100%;
}
 */
ul {
    list-style-type: none;
}

.nav_header ul li a{
	text-decoration: none;
	color: #eee;
}

.nav_header ul li{
    padding: 1.5rem;
}


.nav_header ul{
	display: flex;
    flex-direction: row-reverse;
}
/* 
.conteiner_six , .seccion_six{
    background-color: #eee;
}
 */
.seccion_six{
    background-image: url("/img/space5.jpg");
    min-height: 30rem;
    min-width: 20rem; 
    width: 100%;
    height: auto;
    padding-top: 2rem;
    background-size: cover;
    margin: 0 auto;
}
.seccion_four h2{
    margin-bottom: 2rem;
}
.seccion_six{
    height: 30rem;
    background-color: black;
}
.conteiner_six h2 , .conteiner_six p{
    color: #eee;

}
.seccion_six p{
    font-size: 3rem;
    text-align: center;
    margin-top: 3rem;
}

.container_two div div{
    height: 50%;
}
.container_two img{
    border-radius: 50%;
    display: block;
    width: 250px;
    height: 250px;
}

.conteiner_five img{
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
}

.container_seven p, .container_seven a{
    text-align: center;
}

/*skill progress bar*/

.container-skills li{
    height: 1.3rem;
    background-color: black;
    border-radius: 2%;
    margin-bottom: 1.2rem;
    box-shadow: 0px 1px 0px #074438;
}
.container-skills{
    font: 12px;
    padding: 0px;
    min-width: 20rem;
    position: relative;
    list-style: none;
}
.bar_skill1{
    background-color: black;
}

.container_seven{
    padding-top: 1.5rem;
}

.container_seven a{
    font-size: 1.5rem;
    padding: 1rem;
}

.h2_before_element{
    background-image: url("/img/space6.jpg");
    position: relative;
    background-position: center center;
    min-height: 40rem;
    min-width: 20rem; 
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.h2_before_element h1{
    color:#eee;

}
.h2_before_element h2{
    color:rgb(187, 184, 184);
    margin-top: 4rem;

}
.card{
    min-width: 10rem;
    min-height: 10rem;
}

.card a{
    background-color: black;

}

/* .chart {
    position:relative;
    margin:80px;
    width:210px; height:210px;
}
canvas {
    display: block;
    position:absolute;
    top:0;
    left:0;
}
span {
    color:#555;
    display:block;
    line-height:220px;
    text-align:center;
    width:220px;
    font-family:sans-serif;
    font-size:40px;
    font-weight:100;
    margin-left:5px;
} */

  

.feature_item {
    padding: 30px 15px;
    transition: all 300ms linear 0s;
 
 }
 
 .feature_item p{
    text-align: justify;
    line-height: 25px;
    
 }
.feature_item i {
    margin-bottom: 35px;
    display: block; 
    text-align: center;
    font-size: 60px;
}
.feature_item h4, .feature_item h6{
    text-align: center;
}    
/* .feature_item i:before {
    margin-left: 0px;
    font-size: 60px;
    color: black;
} */


.feature_item:hover i:before {
    background: linear-gradient(to right, #666770 0%, rgb(75, 73, 73) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
  

.article_item {
    padding: 30px 15px;
    transition: all 300ms linear 0s;
 }
 
 .article_item p{
    text-align: justify;
    line-height: 25px;
 }
 .article_item h4, .article_item h6 , .article_item h5{
    text-align: center;
}    
.article_item:hover{
    box-shadow: 0px 10px 30px 0px #4e4e4e8e;
    border-color: #fff; 
}
.article_item a{
    display: block;
    width: 100%;
}
.article_item img{
    padding: 1rem;
}
.progress{
    width: 100%;
    height: 1.5rem;
}
.progress-bar-1{
    width: 75%;
    background-color: #0303038e;
}
.progress-bar-2{
    width: 68%;
    background-color: #0303038e;
}
.progress-bar-3{
    width: 65%;
    background-color: #0303038e;
}
.progress-bar-4{
    width: 85%;
    background-color: #0303038e;
}
.progress-bar-5{
    width: 75%;
    background-color: #0303038e;
}
.progress-bar-6{
    width: 75%;
    background-color: #0303038e;
}
.progress-bar-7{
    width: 70%;
    background-color: #0303038e;
}

.skills_container .col-sm-9{
    padding: 1rem;
    box-sizing: border-box;
}

.container_three h2{
    margin-bottom: 2rem;
}
.container_three h5{
    text-align: initial;
}
.skills_container span{
    display: inline-block;
    margin-top: 1rem;
}

